label {
  margin-bottom: 0;
  font-size: 13px;
}
.square {
  background: #dee2e6;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 4px;
  margin: 6vh 0 0 4vh;
  padding: 4.3vh 4vh 0 4vh;
  font-size: 13px;
}
.square .material-icons {
  color: #adaeaf;
}
.upload-text {
  font-size: 8px;
  font-weight: bold;
  color: #3366ff;
  margin-left: 5.5%;
}
