.section1 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.section2 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding-top: 1%;
}
.header {
  text-align: center;
  background-color: white;
  padding: 0.5% 0;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.btnColor {
  background-color: #5f09bd;
}
.bgGrey {
  background-color: #80808014;
}
.mat-dialog-container {
  width: 40vw !important;
}
.error-text {
  color: #dc3545;
  font-size: 12px;
}
.titlePadding {
  padding: 5px;
}
.textCenter {
  text-align: center;
}
.success {
  font-size: xx-large;
  color: #1ab51ab8;
}
